@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@600&family=Roboto:wght@500&display=swap');



*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
}

body{
  background: black;
  scroll-behavior: smooth;
}

::-webkit-scrollbar{
  width: 0.4rem;
}

::-webkit-scrollbar-thumb{
  background: -webkit-linear-gradient(180deg, rgba(0,0,0,1) 0%, rgb(174, 174, 174) 100%);
}

::-webkit-scrollbar-track {
  background-color: black;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #910202;
}

h1, h4, p, a {
  color: white;
  text-decoration: none;
}

ul{
  list-style-type: none;
}

.btn {
  padding: 12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  background-color: rgba(109, 109, 109, 0.9);
  color: black;
  border: 1px solid white;
  font-weight: 600;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;

}

.btn-light{
  background: transparent;
  color: white;
  transition: 0.3s;
}

.btn:hover {
  background: rgba(255, 255, 255, 0.2);
  color: white;
  transition: 0.3s;
}